.radio-content {
  display: inline-block;
  font-size: vw(24);
  .prev {
    display: inline-block;
    @include wh(24, 24);
    border: 1px solid #333;
    border-radius: 50%;
    vertical-align: middle;
    margin: vw(-3) vw(4) 0 0;
  }
  .input {
    display: none;
  }
  .title {
    color: #333;
  }
  &-active {
    .prev {
      border-color: #f60;
      background-color: #fb8241;
      position: relative;
      &::before {
        @include lt(6, 2);
        @include wh(8, 14);
        content: "";
        border-color: #f8f8f8;
        border-style: solid;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
      }
    }
    .title {
      color: #fb8241;
    }
  }
}

.checkbox-group {
  display: flex;
  .radio-content {
    margin-right: vw(14);
  }
}
