.checkbox-content {
  font-size: vw(24);
  margin-right: vw(20);
  display: inline-block;
  .input {
    display: none;
  }
  .prev {
    display: inline-block;
    @include wh(24, 24);
    vertical-align: middle;
    border: 1px solid #333;
    margin: vw(-3) vw(10) 0 0;
    vertical-align: middle;
  }
  .title {
    display: inline-block;
    color: #333;
  }
  &-active {
    .prev {
      position: relative;
      background-color: #fb8241;
      border-color: #fb8241;
      &::before {
        @include lt(8, 2);
        @include wh(8, 14);
        content: "";
        border-color: #f8f8f8;
        border-style: solid;
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
      }
    }
    .title {
      color: #fb8241;
    }
  }
}

.checkbox-group {
  display: flex;
}